@charset "UTF-8";

.current-users {
	position: fixed;
	top: 10px; 
	right: 20px; 
	color: white; 
	background-color: #343a40;
	padding: 5px 10px; 
	border-radius: 5px; 
	z-index: 1000;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;    
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

#user-management, #quiz-management { 
	padding: 20px; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
} 
#user-management h2, #quiz-management h2 { 
	color: #343a40; 
} 
.user-table, .quiz-table { 
	width: 80%; 
	border-collapse: collapse; 
	margin-top: 20px; 
}
.user-table th, .user-table td, .quiz-table td { 
	border: 1px solid #ddd; 
	padding: 8px; 
	text-align: center; 
}
.user-table th, .quiz-table th { 
	background-color: #007bff; 
	color: white;
} 
.btn-ban, .btn-delete { 
	background-color: #ff69b4; 
	color: white; 
	border: none; 
	padding: 5px 10px; 
	margin: 5px; 
	border-radius: 5px; 
	cursor: pointer; 
	font-size: 14px; 
	transition: background-color 0.3s ease; 
}
.btn-ban:hover, .btn-delete:hover { 
	background-color: #ff1493
}
